# Accessing database

Data can be downloaded here: [link](https://nyc-taxi-data-2010-2013.s3.amazonaws.com/trip_data.db)

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('trip_data.db')
cursor = conn.cursor()

In [3]:
# There are two tables in this database: trip and fare, corresponding to trip_data_6.csv and trip_fare_6.csv
# Sample Usage
cursor.execute("""
select *
from trip
limit 5
""")
res = cursor.fetchall()
res

[(2013009441,
  2013013593,
  'VTS',
  1,
  '2013-06-01 00:00:00',
  '2013-06-01 00:05:00',
  1,
  300,
  0.74,
  -73.972008,
  40.749767,
  -73.968109,
  40.756382),
 (2013012081,
  2013019632,
  'VTS',
  1,
  '2013-06-01 00:00:00',
  '2013-06-01 00:16:00',
  1,
  960,
  3.52,
  -73.984909,
  40.779106,
  -73.944702,
  40.803219),
 (2013006133,
  2013029678,
  'VTS',
  1,
  '2013-06-01 00:00:00',
  '2013-06-01 00:10:00',
  1,
  600,
  2.34,
  -73.99204300000001,
  40.725639,
  -73.99011999999999,
  40.750992),
 (2013007864,
  2013007860,
  'VTS',
  1,
  '2013-06-01 00:00:00',
  '2013-06-01 00:08:00',
  1,
  480,
  1.63,
  -73.98207099999999,
  40.743259,
  -73.990967,
  40.723995),
 (2013010123,
  2013010123,
  'VTS',
  1,
  '2013-06-01 00:00:00',
  '2013-06-01 00:19:00',
  4,
  1140,
  5.98,
  -73.999809,
  40.732849,
  -73.962357,
  40.800049)]

In [4]:
# Even though I don't understand why it's like this, but the column names can be seen like this
cursor.description

(('medallion', None, None, None, None, None, None),
 ('hack_license', None, None, None, None, None, None),
 ('vendor_id', None, None, None, None, None, None),
 ('rate_code', None, None, None, None, None, None),
 ('pickup_datetime', None, None, None, None, None, None),
 ('dropoff_datetime', None, None, None, None, None, None),
 ('passenger_count', None, None, None, None, None, None),
 ('trip_time_in_secs', None, None, None, None, None, None),
 ('trip_distance', None, None, None, None, None, None),
 ('pickup_longitude', None, None, None, None, None, None),
 ('pickup_latitude', None, None, None, None, None, None),
 ('dropoff_longitude', None, None, None, None, None, None),
 ('dropoff_latitude', None, None, None, None, None, None))

In [5]:
conn.close()