In [5]:
import pickle
from utils import plot_optimal_q
import numpy as np

In [11]:
df_list = []
for i in range(1, 15):
    with open(r"data/shB_v3/sarsa_{}.pickle".format(i), "rb") as output_file:
        df_list.append(pickle.load(output_file))

In [ ]:
sample = pd.concat(df_list, axis=0)

In [29]:
action_counts = sample.groupby(['current_time', 'current_zone', 'action'], as_index=False)['episode'].agg('count')
total_counts = sample.groupby(['current_time', 'current_zone'], as_index=False)['episode'].agg('count')
freq = action_counts.merge(total_counts, on=['current_time', 'current_zone'])
freq['freq'] = freq['episode_x']/freq['episode_y']
freq['state'] = [(z,t) for z,t in zip(freq['current_zone'],freq['current_time'])]

          state  freq  action
0        (4, 0)  1.00      79
1        (7, 0)  0.25       7
2        (7, 0)  0.50     193
3        (7, 0)  0.25     223
4       (17, 0)  1.00     217
...         ...   ...     ...
8746  (261, 95)  1.00     261
8747  (262, 95)  1.00     262
8748  (263, 95)  0.25      75
8749  (263, 95)  0.25     236
8750  (263, 95)  0.50     263

[8751 rows x 3 columns]

In [63]:
ZONE_NUM = 264
TIME_NUM = 96
empty_q = np.array([0.0]*ZONE_NUM)
for t in range(TIME_NUM):
    for z in range(ZONE_NUM):
        emp_policy_q[(z,t)] = empty_q.copy()
for s,a,f in zip(freq['state'], freq['action'], freq['freq']):       
    emp_policy_q[s][a] = f

In [ ]:
with open('output/emp_policy_Q_shA.pickle', 'wb') as handle:
    pickle.dump(emp_policy_q, handle, protocol=pickle.HIGHEST_PROTOCOL)