In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/fare_amount_scr_dst_t.csv')

In [3]:
df.head()

,pickup_datetime_index,pickup_datetime_interval,pickup_taxizone_id,dropoff_taxizone_id,mean,median,count
0,0,00:00:00,2.0,2.0,10.500,10.50,2
1,0,00:00:00,3.0,69.0,24.500,24.50,1
2,0,00:00:00,4.0,4.0,8.475,4.50,20
3,0,00:00:00,4.0,7.0,22.000,20.75,6
4,0,00:00:00,4.0,13.0,13.625,13.50,8

In [4]:
# time*pickup*dropoff 96*263*263
# Marcov Chain Transition matrix with counts
zone_num = 263
mc_mtx = np.zeros((max(df['pickup_datetime_index'])+1, zone_num, zone_num))
for i in range(len(df)):
    t = df['pickup_datetime_index'][i]
    pickup = int(df['pickup_taxizone_id'][i]) -1
    dropoff = int(df['dropoff_taxizone_id'][i]) -1
    mc_mtx[t, pickup, dropoff] = df['count'][i]

In [5]:
# convert counts to probability
mc_mtx_prob = np.zeros((max(df['pickup_datetime_index'])+1, zone_num, zone_num))
for i in range(mc_mtx.shape[0]):
    mc_mtx_prob[i] = mc_mtx[i]/np.sum(mc_mtx[i], axis = 1).reshape(zone_num, 1)
mc_mtx_prob = np.nan_to_num(mc_mtx_prob)

C:\Users\stell\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: RuntimeWarning: invalid value encountered in true_divide
  after removing the cwd from sys.path.

In [6]:
#check
df.loc[((df['pickup_taxizone_id'] == 217) & (df['pickup_datetime_index'] ==33)),:]

,pickup_datetime_index,pickup_datetime_interval,pickup_taxizone_id,dropoff_taxizone_id,mean,median,count
266288,33,08:15:00,217.0,61.0,9.0,9.0,1
266289,33,08:15:00,217.0,80.0,4.0,4.0,1
266290,33,08:15:00,217.0,97.0,11.0,11.0,1
266291,33,08:15:00,217.0,107.0,13.0,13.0,1

In [7]:
mc_mtx_prob[33,216,:]

array([0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.25, 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.25, 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ,
       0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  , 0.  ])

In [8]:
# saving reshaped array to file. 
mc_mtx_prob_reshaped = mc_mtx_prob.reshape(mc_mtx_prob.shape[0], -1) 
np.savetxt("../data/mc_mtx.txt", mc_mtx_prob_reshaped)

## Try Functions

In [9]:
from estimations import generate_request, generate_request_load_data

In [10]:
data = generate_request_load_data()

In [11]:
generate_request(data, 217, 33)

80